.container {
  width: 70%;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
}

.box-container {
  display: flex;
  gap: 50px;
}

.column {
  min-width: 80px;
  padding: 20px;
  border: 1px solid #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.box {
  width: 80px;
  height: 80px;
  cursor: move;
}

.color-1 { background-color: #6D8765; }
.color-2 { background-color: #FA6A30; }
.color-3 { background-color: #756088; }
.color-4 { background-color: #B0E3E6; }
.color-5 { background-color: #F0A339; }
.color-6 { background-color: #E0B1C7; }



/* MEDIA QUERY */
@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    padding: 20px 0px;
  }

  .box-container {
    gap: 5px;
  }

  .column {
    min-width: 35px;
    padding: 10px;
    gap: 5px;
  }

  .box {
    height: 35px;
    width: 35px;
  }
}

#dragging {
  opacity: .5;
}


@media only screen and (min-width: 321px) and (max-width: 426px) {
  .container {
    width: 100%;
    padding: 20px 0px;
  }

  .box-container {
    gap: 10px;
  }

  .column {
    min-width: 50px;
    padding: 10px;
    gap: 10px;
  }

  .box {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 426px)and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 20px 0px;
  }

  .box-container {
    gap: 15px;
  }

  .column {
    min-width: 50px;
    padding: 15px;
  }

  .box {
    height: 50px;
    width: 50px;
  }
}
